<div class="logo">
    <img src="../images/ci-logo.png" alt="CI logo" title=''/>
    <a href="../index.html"> <span class="highlight"></span></a>
</div>
<nav id="main-nav">
    <ul>
        <a href="/index.html">Home</a>
        <li>
            <a href="../documents.html">Documents</a>
            <ul id="docsubmenu" class="submenu">
                <li><a href="../docentry.html">Add Doc</a></li>
                <!-- <li><a href="../exportncm.html">Export</a></li> -->
                <!-- <li><a href="../copy.html">Copy</a></li> -->
            </ul>
        </li>
        <li>
            <a href="../dcrs.html">DCR</a>
            <ul id="dcrsubmenu" class="submenu">
                <li><a href="../request.html">Add DCR</a></li>
            </ul>
        </li>
    </ul>
</nav>
